@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
</style>

.navbar ul {
    display: inline; /* Change display to inline */
    justify-content: space-between;
    margin-top: 10px;
    }
body {
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    text-align: center 20px;
}
.home {
    background-color: blue;
}
.header {
    position: sticky;
    top: 0;
}
li{
    color: red;
    display: inline;
}